export POSTGRES_PRISMA_URL='postgres://postgres:postgres@localhost/sample_postgres_db?pgbouncer=true&connect_timeout=15&connection_limit=1'
export POSTGRES_URL_NON_POOLING='postgres://postgres:postgres@localhost/sample_postgres_db'
